allow platform_app {
    DisplayFeatureControl
    miui_multi_display
    perfshielder
    ProcessManager
}:service_manager find;

allow platform_app app_data_file:file { execute execute_no_trans execmod read open getattr map };
allow platform_app privapp_data_file:file { execute execute_no_trans execmod read open getattr map };
